<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>delegateDemo_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C78A84E1F3198BA005F13C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C78A8621F3198BA005F13C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C78A86D1F3198BA005F13C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
